@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

a {
  text-decoration: none;
}

nav {
  height: 80px;
  display: flex;
  background-color: black;
  color: white;
}

.no-click {
  cursor: not-allowed;
}

.blue {
  color: #0087cd;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}

.logo {
  height: 75px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.nav__link {
  margin-left: 40px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 8px;
  transition: all 300ms ease;
}

.nav__link--contact {
  padding: 10px 40px;
  border-radius: 30px;
  color: rgb(11, 157, 219);
  background-color: white;
}

.nav__link:hover {
  transform: scale(1.04);
}

/*

    HEADER

*/

header {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

.header__container {
  width: 100%;
  max-width: 740px;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 56px;
  text-align: center;
  margin: 20px 0;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

figure {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

form {
  margin-bottom: 40px;
  position: relative;
}

#search-bar {
  font-size: 20px;
  width: 400px;
  padding: 15px 35px 15px 20px;
  box-shadow: 0 18px 40px 0 rgb(0, 0, 0, 0.55);
  border: none;
  outline: none;
  border-radius: 100px;
}

.search-icon {
  font-size: 23px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: -38px;
  position: absolute;
  bottom: 17px;
  transition: all 300ms ease;
}

.search-icon:hover {
  color: #0087cd;
}

.search-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.search-btn {
  border: none;
}

/*

  Styling for Search and Favourites page

*/

#results {
  background-color: rgb(245, 245, 245);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results__title {
  padding-top: 30px;
  margin-left: 40px;
  text-align: left;
}

.results__img--wrapper {
  height: 50vh;
  margin-bottom: 70px;
}

.results__container {
  width: 100%;
}

.results__movies {
  width: fit-content;
  margin: 40px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}

.result__movie {
  width: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 10px;
  box-shadow: 0 5px 40px 0 rgb(0, 0, 0, 0.55);
  overflow: hidden;
  transition: all 300ms ease;
}

.row-movies {
  max-width: 1700px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  margin-left: 5px;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}

.movie__name {
  max-width: 130px;
}

h4 {
  margin-left: 5px;
  color: rgba(128, 128, 128, 0.639);
  font-size: 12px;
}

.movie__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 5px;
}

.star {
  height: 32px;
  width: 32px;
}

.star-full {
  color: gold;
}

.movie__img--wrapper {
  width: fit-content;
  height: 250px;
  margin-bottom: 10px;
}

.result__movie:hover {
  transform: scale(1.07);
}

.movie__img {
  width: 100%;
}

.movies__loading--spinner {
  margin-top: 100px;
  width: 100vw;
  margin: 0 auto;
  color: black;
  display: none;
  background-color: rgb(245, 245, 245);
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
  font-size: 64px;
}

.movies__loading .movies__loading--spinner {
  display: flex;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
